<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljkdream.yiyuanduobao.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ljkdream.yiyuanduobao.model.User">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="cid" property="cid" jdbcType="BIGINT"/>
    <result column="uid" property="uid" jdbcType="VARCHAR"/>
    <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    <result column="IP_address" property="IPAddress" jdbcType="VARCHAR"/>
    <result column="avatar_name" property="avatarName" jdbcType="VARCHAR"/>
    <result column="avatar_prefix" property="avatarPrefix" jdbcType="VARCHAR"/>
    <result column="IP" property="IP" jdbcType="VARCHAR"/>
    <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
    <result column="free_coin" property="freeCoin" jdbcType="VARCHAR"/>
    <result column="is_first_login" property="isFirstLogin" jdbcType="VARCHAR"/>
    <result column="coin" property="coin" jdbcType="VARCHAR"/>
    <result column="bonus_num" property="bonusNum" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cid, uid, nickname, IP_address, avatar_name, avatar_prefix, IP, mobile, free_coin,
    is_first_login, coin, bonus_num, create_time, modify_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljkdream.yiyuanduobao.model.UserExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljkdream.yiyuanduobao.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljkdream.yiyuanduobao.model.User">
    insert into user (id, cid, uid, nickname,
    IP_address, avatar_name, avatar_prefix,
    IP, mobile, free_coin,
    is_first_login, coin, bonus_num,
    create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{uid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
    #{IPAddress,jdbcType=VARCHAR}, #{avatarName,jdbcType=VARCHAR}, #{avatarPrefix,jdbcType=VARCHAR},
    #{IP,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{freeCoin,jdbcType=VARCHAR},
    #{isFirstLogin,jdbcType=VARCHAR}, #{coin,jdbcType=VARCHAR}, #{bonusNum,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ljkdream.yiyuanduobao.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="IPAddress != null">
        IP_address,
      </if>
      <if test="avatarName != null">
        avatar_name,
      </if>
      <if test="avatarPrefix != null">
        avatar_prefix,
      </if>
      <if test="IP != null">
        IP,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="freeCoin != null">
        free_coin,
      </if>
      <if test="isFirstLogin != null">
        is_first_login,
      </if>
      <if test="coin != null">
        coin,
      </if>
      <if test="bonusNum != null">
        bonus_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="IPAddress != null">
        #{IPAddress,jdbcType=VARCHAR},
      </if>
      <if test="avatarName != null">
        #{avatarName,jdbcType=VARCHAR},
      </if>
      <if test="avatarPrefix != null">
        #{avatarPrefix,jdbcType=VARCHAR},
      </if>
      <if test="IP != null">
        #{IP,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="freeCoin != null">
        #{freeCoin,jdbcType=VARCHAR},
      </if>
      <if test="isFirstLogin != null">
        #{isFirstLogin,jdbcType=VARCHAR},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=VARCHAR},
      </if>
      <if test="bonusNum != null">
        #{bonusNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljkdream.yiyuanduobao.model.UserExample" resultType="java.lang.Integer">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.IPAddress != null">
        IP_address = #{record.IPAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.avatarName != null">
        avatar_name = #{record.avatarName,jdbcType=VARCHAR},
      </if>
      <if test="record.avatarPrefix != null">
        avatar_prefix = #{record.avatarPrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.IP != null">
        IP = #{record.IP,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.freeCoin != null">
        free_coin = #{record.freeCoin,jdbcType=VARCHAR},
      </if>
      <if test="record.isFirstLogin != null">
        is_first_login = #{record.isFirstLogin,jdbcType=VARCHAR},
      </if>
      <if test="record.coin != null">
        coin = #{record.coin,jdbcType=VARCHAR},
      </if>
      <if test="record.bonusNum != null">
        bonus_num = #{record.bonusNum,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=BIGINT},
    cid = #{record.cid,jdbcType=BIGINT},
    uid = #{record.uid,jdbcType=VARCHAR},
    nickname = #{record.nickname,jdbcType=VARCHAR},
    IP_address = #{record.IPAddress,jdbcType=VARCHAR},
    avatar_name = #{record.avatarName,jdbcType=VARCHAR},
    avatar_prefix = #{record.avatarPrefix,jdbcType=VARCHAR},
    IP = #{record.IP,jdbcType=VARCHAR},
    mobile = #{record.mobile,jdbcType=VARCHAR},
    free_coin = #{record.freeCoin,jdbcType=VARCHAR},
    is_first_login = #{record.isFirstLogin,jdbcType=VARCHAR},
    coin = #{record.coin,jdbcType=VARCHAR},
    bonus_num = #{record.bonusNum,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljkdream.yiyuanduobao.model.User">
    update user
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="IPAddress != null">
        IP_address = #{IPAddress,jdbcType=VARCHAR},
      </if>
      <if test="avatarName != null">
        avatar_name = #{avatarName,jdbcType=VARCHAR},
      </if>
      <if test="avatarPrefix != null">
        avatar_prefix = #{avatarPrefix,jdbcType=VARCHAR},
      </if>
      <if test="IP != null">
        IP = #{IP,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="freeCoin != null">
        free_coin = #{freeCoin,jdbcType=VARCHAR},
      </if>
      <if test="isFirstLogin != null">
        is_first_login = #{isFirstLogin,jdbcType=VARCHAR},
      </if>
      <if test="coin != null">
        coin = #{coin,jdbcType=VARCHAR},
      </if>
      <if test="bonusNum != null">
        bonus_num = #{bonusNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljkdream.yiyuanduobao.model.User">
    update user
    set cid = #{cid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
    IP_address = #{IPAddress,jdbcType=VARCHAR},
    avatar_name = #{avatarName,jdbcType=VARCHAR},
    avatar_prefix = #{avatarPrefix,jdbcType=VARCHAR},
    IP = #{IP,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
    free_coin = #{freeCoin,jdbcType=VARCHAR},
    is_first_login = #{isFirstLogin,jdbcType=VARCHAR},
      coin = #{coin,jdbcType=VARCHAR},
    bonus_num = #{bonusNum,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>